In [2]:
import pandas as pd 
import numpy as np

In [7]:
df=pd.read_csv("./sms-spam.csv",date_format='utf-8')
#ctrl+Enter = Excecute the cell
#alt+Enter = Execute + create

In [ ]:
df.head()
df.tail()

In [ ]:
df.sample(5)

In [31]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [32]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [38]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
df.columns()

NameError: name 'df' is not defined